
    <div class="c-benefits anim anim--up">
        <div class="o-wrap o-section">
            
            <header class="o-header">
                <h2>Konto biznesowe w HiPets usprawni pracę Twojemu ulubionemu specjaliście</h2>
                <h3>A Tobie ułatwi korzystanie z jego usług</h3>
            </header>
            
            <ul>
                <li>
                    <figure>
                        <img src=<%= require("./img/benefits/calendar.svg") %> alt="calendar">
                    
                        <figcaption>
                            <p>Zarezerwujesz wizytę online</p>
                            <p>Umówisz się samodzielnie, o dowolnej porze dnia i&nbsp;nocy.</p>
                        </figcaption>
                    </figure>
                </li>
                
                <li>
                    <figure>
                        <img src=<%= require("./img/benefits/hand.svg") %> alt="hand">
                    
                        <figcaption>
                            <p>Otrzymasz przypomienie SMS</p>
                            <p>Już nigdy nie zapomnisz o umówionej wizycie.</p>
                        </figcaption>
                    </figure>
                </li>
                
                <li>
                    <figure>
                        <img src=<%= require("./img/benefits/star.svg") %> alt="star">
                    
                        <figcaption>
                            <p>Zobaczysz profil firmy i opinie klientów</p>
                            <p>Wystawisz mu opinię po odbytej wizycie.</p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
           
            <div class="o-more">
                <p>Pod tym linkiem Twój specjalista będzie mógł przeczytać o HiPets dla biznesu:</p>
                <p><a href="http://hipets.pl/biznes" target="_blank">hipets.pl/biznes</a></p>
            </div>
        </div>
    </div>
