
    <div class="c-contest anim anim--up">
        <div class="o-wrap o-section">
            
            <div class="o-cols">
                <div class="o-cols__item">

                    <header class="o-header">
                        <h2>Weź udział w konkursie</h2>
                        <h3>Powiedz nam któremu specjaliście poleciłeś(aś) HiPets 
                            oraz podaj dane do kontaktu z Tobą.</h3>
                    </header>

                    <div class="c-contest__form" id="contestform">
                        
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js" ></script>
<script>
hbspt.forms.create({
region: "na1",
portalId: "19921441",
formId: "af8eabf9-2b46-4e02-b659-2188f63c5228"
});
</script>

                    </div>
                </div>

                <div class="o-cols__item">
                	<img srcset="./img/contest/cat-heart.webp 1x, ./img/contest/cat-heart@2x.webp 2x"
                         src="./img/contest/cat-heart.webp" alt="cat with heart">
                </div>
            </div>
        </div>
        
        <div class="c-contest__summary">
            <div class="o-wrap">
                <p>Po tym jak specjalista utworzy konto biznesowe na HiPets, 
prześlemy Ci wyjątkowy rysunek Twojego zwierzaka!</p>
            </div>
        </div>
    </div>
