
    <div class="c-faq anim anim--up">
        <div class="o-wrap o-section">
            
            <div class="o-cols">                
                <div class="o-cols__item">
                	<img srcset="./img/faq/dog.webp 1x, ./img/faq/dog@2x.webp 2x"
                         src="./img/faq/dog.webp" alt="dog">
                </div>
                
                <div class="o-cols__item">
                    
                    <header class="o-header">
                        <h2>Pytania i odpowiedzi</h2>
                    </header>
                    
                    <ol class="o-accordion js-accordion js-fadeInChildren">
                        <li class="is-active is-rollout js-item">
                            <h3>Dlaczego w formularzu wymagany jest numer telefonu i email?</h3>
                            
                            <div class="js-section">
                                <div class="o-accordion__section">
                                    <p>Twój numer telefonu zostanie wykorzystany do weryfikacji podczas rozmowy z Twoim specjalistą. Dzięki temu będziemy wiedzieli, że to właśnie Ty poleciłeś(aś) mu HiPets. 
Na Twój adres email prześlemy Ci rysunek Twojego zwierzaka.</p>
                                </div>
                            </div>
                        </li>
                    
                        <li class="is-active js-item">
                            <h3>W jakiej formie otrzymam rysunek?</h3>
                            
                            <div class="js-section">
                                <div class="o-accordion__section">
                                    <p>Rysunek otrzymasz w formacie JPG, PNG lub innym.</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="is-active js-item">
                            <h3>Ile kosztuje korzystanie z HiPets dla biznesu?</h3>
                            
                            <div class="js-section">
                                <div class="o-accordion__section">
                                    <p>HiPets to jedna prosta miesięczna opłata, bez długich zobowiązań i ukrytych kosztów. 
Konto kosztuje 49 zł/mies z 14-dniowym darmowym okresem próbnym.</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="is-active js-item">
                            <h3>Jakie korzyści ma specjalista po utworzeniu konta biznesowego?</h3>
                            
                            <div class="js-section">
                                <div class="o-accordion__section">
                                    <p>Rezerwacje bez odbierania telefonu, zarządzanie harmonogramem wizyt, przejrzysta baza klientów 
i profil firmy to tylko kilka z korzyści posiadania profilu biznesowego w HiPets. 
Więcej o korzyściach przeczytasz tutaj: <a href="http://hipets.pl/biznes">hipets.pl/biznes</a></p>
                                </div>
                            </div>
                        </li>
                    </ol>

                </div>
            </div>
        </div>
    </div>
