
    <footer class="c-footer anim anim--up">
        <div class="o-wrap">
            
            <div class="o-cols o-cols--2">                
                <div class="o-cols__item">
                    <a href="index.html" class="o-logo">
                        <img src=<%= require("./img/assets/logo-hipets.svg") %> alt="hipets">
                    </a>
                    
                    <div class="o-article">
                        <p>HiPets to narzędzie stworzone specjalnie dla branży opieki nad zwierzętami. Nasza platforma łączy specjalistów z&nbsp;opiekunami zwierząt i pozwala na rezerwację wizyt online o dowolnej porze dnia i nocy.</p>
                    </div>
                    
                    <div class="o-social">
                        <ul>
                            <li>
                                <a href="#" class="icon-instagram"></a>
                            </li>
                            
                            <li>
                                <a href="#" class="icon-facebook"></a>
                            </li>
                            
                            <li>
                                <a href="#" class="icon-linkedin"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="o-cols__item">
                    <div class="o-cols o-cols--3">
                        <div class="o-cols__item">
                            <h4>Dla właścicieli zwierząt</h4>
                            
                            <nav class="c-footer__nav">
                                <ul>
                                    <li>
                                        <a href="#">Strona główna</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Akcja “Daj Dom”</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">O nas</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">FAQ</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Kontakt</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        
                        <div class="o-cols__item">
                            <h4>Dla biznesu</h4>
                            
                            <address>
                                <p>Nowi klienci:</p>
                                <p>tel. 536 988 582</p>
                                <p>email: <a href="mailto:rozalia@hipets.app">rozalia@hipets.app</a></p>
                            </address>
                            
                            <address>
                                <p>Obsługa klienta:</p>
                                <p>tel. 533 988 582</p>
                                <p>email: <a href="mailto:ola@hipets.app">ola@hipets.app</a></p>
                            </address>
                        </div>
                        
                        <div class="o-cols__item">
                            <h4>Pobierz aplikację</h4>                            
                            
                            <div class="o-download">
                                <p>Korzystaj z pełni możliwości platformy 
                                   w&nbsp;najwygodniejszy sposób</p>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img src=<%= require("./img/footer/appstore.svg") %> alt="appstore">
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">
                                            <img src=<%= require("./img/footer/googleplay.svg") %> alt="googleplay">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="c-footer__bottom">
                <p>&copy; 2021 HiPets Inc. Wszystkie prawa zastrzeżone</p>
                
                <nav class="c-footer__nav c-footer__nav--bottom">
                    <ul>
                        <li>
                            <a href="#">Regulamin</a>
                        </li>
                        
                        <li>
                            <a href="#">Polityka prywatności</a>
                        </li>
                        
                        <li>
                            <a href="#">Polityka plików cookie</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
