
    <div class="c-hero">
        <div class="o-wrap">
            
            <div class="o-article">
                <a href="index.html" class="o-logo">
                    <img src=<%= require("./img/assets/logo-hipets.svg") %> alt="hipets">
                </a>
                
                <p>Zaproś do HiPets swojego ulubionego specjalistę
                   <strong>i&nbsp;wygraj rysunkowy portret swojego zwierzaka!</strong></p>
            </div>
            
            <figure>
                <img srcset="./img/hero/cat.webp 1x, ./img/hero/cat@2x.webp 2x"
                	 src="./img/hero/cat.webp" alt="cat">
            </figure>
        </div>
    </div>
