
    <div class="c-intro anim anim--up">
        <div class="o-wrap o-section">
            
            <header class="o-header">
                <h2>Zobacz, jak Twój zwierzak wyglądałby w&nbsp;formie “disney’owskiej” ilustracji</h2>
            </header>
            
            <div class="o-cols">
                <div class="o-cols__item">
                    <div class="o-article">
                        <p>Ma cztery łapy, lśniące futerko i szeroki uśmiech?</p>
                        <p>A może długi ogon i ostre pazurki, którymi zjeżdża po meblach?</p>
                           
                        <p>&nbsp;</p>
    
                        <p>Twój zwierzak jest wyjątkowy. Pozwól nam go uwiecznić!</p>
                        <p><strong>Weź udział w konkursie, a ilustratorka HiPets 
                        własnoręcznie narysuje portret Twojego ulubieńca.</strong></p>
                    </div>
                </div>
                
                <div class="o-cols__item">            
                    <figure>
                        <img src=<%= require("./img/intro/portrait.gif") %> alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
