
    <div class="c-steps anim anim--up">
        <div class="o-wrap o-section">
            <div class="o-cols">
                <div class="o-cols__item">
                    <figure>
                        <img srcset="./img/steps/animals.webp 1x, ./img/steps/animals@2x.webp 2x"
                        	 src="./img/steps/animals.webp" alt="portrait">
                    </figure>
                </div>
                
                <div class="o-cols__item">
                    
                    <article class="o-article">
                        <h2>Jak wziąć udział w konkursie?</h2>
                        
                        <ol>
                            <li>
                                <h3>Załóż darmowe konto na HiPets</h3>
                                <p><a href="http://www.hipets.pl">www.hipets.pl</a></p></li>                                
                            </li>
                            
                            <li>
                                <h3>Poleć HiPets swojemu specjaliście</h3>
                                <p>Podczas następnej wizyty u swojego weterynarza, groomera, behawiorysty, 
                                trenera, fotografa (i innych) zaproponuj mu utworzenie profilu na HiPets, 
                                dzięki czemu klienci będą mogli się do niego samodzielnie umawiać.</p>
                            </li>
                            
                            <li>
                                <h3>Wypełnij poniższy formularz</h3>
                                <p>Podaj nam kontakt do siebie oraz specjalisty, któremu polecasz HiPets. 
Załącz też zdjęcie zwierzaka, którego narysujemy dla Ciebie po tym, 
jak specjalista zacznie korzystać z systemu HiPets.</p>
                            </li>
                        </ol>
                    </article>                    
                </div>
            </div>
        </div>
    </div>
