<% include ./src/includes/head %>

    <% include ./src/includes/hero %>
    <% include ./src/includes/intro %>
    <% include ./src/includes/steps %>
    <% include ./src/includes/benefits %>
    <% include ./src/includes/contest %>
    <% include ./src/includes/faq %>
    <% include ./src/includes/footer %>

</body>
</html>


